.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--primary);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
li{
  list-style: none;
}
.nav-links a {
  color: white;
  text-decoration: none;
  
}

.nav-links a:hover {
  color: var(--primary);
}
